.movie-card {
    background-color: var(--bg-secondary);
    color: white;
    width: 16rem;
}

.movie-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.movie-card-grid {
    display: grid;
    gap: 2rem;  
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    padding: 2rem;
    padding-top: 0;
}

.movie-card-title {
    font-family: "Inknut Antiqua", serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
}

.movie-card-watch-date {
    font-family: "Inconsolata", monospace;
    margin-top: 0.5rem;
}

.star-rating {
    font-size: 24px; 
}

.star-filled {
    color: gold;
}

.filter-bar {
    background-color: var(--bg-secondary);
    margin: 2rem;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding: 1rem 4rem;
}

.filter-bar-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    font-family: "Inknut Antiqua", serif;
    font-size: 1.2rem;
}