.home-title {
    color: white;
    font-family: "Inknut Antiqua", serif;
}

.feature {
    color: white;
    padding: 2rem;
}

.full-height-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}