.collapse-content {
    background-color: var(--bg-secondary);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }
  
  .collapse.show .collapse-content {
    transform: translateX(0);
  }

.checkbox-group label,
.checkbox-group input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;
    padding-left: 2rem;
}

#filter-sort {
  position: absolute;
  right: 0px;
  top: 5.875rem;
  background-color: var(--bg-secondary);
  border-radius: 0.375rem;
}

#filter-sort div button {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  border: none;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  margin-top: 64px;
  margin-right: 1rem;
}

#search-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: calc(40% + 16vw);
  margin: 2rem;
}

#searchinput {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

#searchinput::placeholder {
  color: var(--text-primary);
  opacity: 1;
}


.antiqua {
  font-family: "Inknut Antiqua", serif;
}

h1, h2, h3, h4, h5 {
  color: var(--text-primary);
}

p {
  color: var(--text-accent);
  font-family: "Inconsolata", monospace;
  margin: 0px;
}

.search-result {
  display: flex;
}

.search-result-poster {
  width: 200px;
  height: auto;
}

.search-result-details {
  width: 100%;
  padding: 2rem;
  background-color: var(--bg-secondary);
}

.result-title-year {
  display: flex;
  align-items: center;
}

.result-title {
  color: var(--text-primary);
}

.result-year {
  color: var(--text-accent);
}

.result-year::before {
  content: '•';
  margin-inline: 0.5rem;
}

.result-rating-genre-time {
  display: flex;
}

.result-rating::after, .result-genre::after {
  content: '•';
  margin-inline: 0.5rem;
}

.result-stars {
  display: flex;
}

.star {
  color: var(--accent-yellow);
  margin-right: 0.25rem;
}