
.checkbox-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0 2rem;
}

#star-rating {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.checkbox-item {
  display: block;
}

#filter-button {
  border-radius: 0.6rem 0 0 0.6rem;
}

#filter-menu-body {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filter-menu {
  margin-top: 64px;
  max-width: 20rem;
}

#search-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: calc(40% + 16vw);
  margin: 2rem;
}

#searchinput {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

#searchinput::placeholder {
  color: var(--text-primary);
  opacity: 1;
}

.antiqua {
  font-family: "Inknut Antiqua", serif;
}

h1, h2, h3, h4, h5 {
  color: var(--text-primary);
}

p {
  color: var(--text-accent);
  font-family: "Inconsolata", monospace;
  margin: 0px;
}

.search-result {
  display: flex;
}

.search-result-poster {
  width: 200px;
  height: auto;
}

.search-result-details {
  width: 100%;
  padding: 2rem;
  background-color: var(--bg-secondary);
}

.result-title-year {
  display: flex;
  align-items: center;
}

.result-title {
  color: var(--text-primary);
}

.result-year {
  color: var(--text-accent);
}

.result-year::before {
  content: '•';
  margin-inline: 0.5rem;
}

.result-rating-genre-time {
  display: flex;
}

.result-rating::after, .result-genre::after {
  content: '•';
  margin-inline: 0.5rem;
}

.result-stars {
  display: flex;
}

.star {
  color: var(--accent-yellow);
  margin-right: 0.25rem;
}