:root {
    --bg-primary: #222222;
    --bg-secondary: #333333;
    --accent-red: #FF7575;
    --accent-yellow: #FFD966;
    --text-primary: #F8F8F8;
    --text-accent: #D9D9D9;
}

body {
    background-color: var(--bg-primary);
}

nav {
    padding: 0.5rem 1rem;
    background-color: var(--bg-secondary) !important;
    display: flex;
    align-items: center;
}

nav a {
    color: var(--text-primary);
    text-decoration: none;
}